@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #34314c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    z-index: 1000;
}

.preloader__content {
    position: relative;
    width: 200px;
    height: 200px;
}

.preloader__first,
.preloader__second,
.preloader__third {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: 1s linear infinite;
}

.preloader__first {
    border-bottom: 3px solid #ff7473;
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    animation-name: first;
}

.preloader__second {
    border-right: 3px solid #ffc952;
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    animation-name: second;
}

.preloader__third {
    border-top: 3px solid #47b8e0;
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    animation-name: third;
}

@keyframes first {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes second {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes third {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

#preloader.hide-preloader {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 999;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #263244;
    font-weight: bold;
    text-transform: uppercase;
}

.header-logo {
    float: left;
    /*padding-left: 388px;*/
    color: #fff;
    line-height: 60px;
    font-size: 26px;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}

.header-logo a {
    color: white;
}

.header-logo a:visited {
    color: white;
}

.header-logo a:hover {
    color: #f79006;
    transform: scale(1.05);
}

.header-menu {
    float: left;
    /*padding-left: 430px;*/
}

.header-menu li {
    float: left;
    padding-right: 40px;
    line-height: 60px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.header-menu li:nth-child(2) {
    animation-delay: 0.4s;
}

.header-menu li:nth-child(3) {
    animation-delay: 0.8s;
}

.header-menu li:nth-child(4) {
    animation-delay: 1.2s;
}

.header-menu li:nth-child(5) {
    animation-delay: 1.6s;
}

.header-menu li:nth-child(6) {
    animation-delay: 2s;
}

.header-menu li a {
    text-decoration: none;
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
}

.header-menu li a:visited {
    color: white;
}

.header-menu li a:hover {
    color: #f79006;
    transform: scale(1.05);
}

.btn-navigation {
    color: white;
}

.btn-navigation:visited {
    color: white;
}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/моник.png) 90% 100%/auto 85% no-repeat, url(../img/фон.jpg) center/cover no-repeat;;
}

.main-title {
    margin-top: 100px;
    float: left;
    width: 100%;
    text-align: center;
    -webkit-animation: titlemove 1.5s ease;
    -o-animation: titlemove 1.5s ease;
    animation: titlemove 1.5s ease;

}

.main-title h1 {
    color: #2c384a;
    font-size: 70px;
    font-weight: bold;
}

.main-title h4 {
    color: #79818d;
    font-size: 22px;
    margin-top: 20px;
}

.main-title input {
    margin: 30px 14px 0px 14px;
    height: 40px;
    color: #6d7682;
    border: 2px solid #6d7682;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    background: none;
    padding: 0px 16px;
    cursor: pointer;
    font-weight: bold;
}

.main-title input {
    transition: all 0.4s;
    transform: scale(1.0);
}

.main-title input:hover {
    color: white;
    background-color: #344051;
}

.main-title input:active {
    transform: scale(1.1);
}

@keyframes comming {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes titlemove {
    from {
        opacity: 0;
        margin-left: -500px;
    }
    to {
        opacity: 1;
        margin-left: 0px;
    }
}

@media (max-width: 1300px) {
    .main-title h1, .main-title h4, .main-title input {
        color: white;
        position: relative;
        z-index: 90;
    }

    .main-title input {
        border: 2px solid white;
    }

    .main {
        position: relative;
    }

    .main::after {
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
    }
}

.about-me {
    /*float: left;*/
    width: 100%;
    box-shadow: 0 -10px 12px #8080808f;
    background-color: #fcfdfd;
    margin-bottom: 60px;
}

.about-me-title {
    padding-top: 106px;
    padding-bottom: 30px;
}


.underline {
    width: 70px;
    height: 5px;
    margin: 0 auto;
    border-bottom: 4px solid #f79006;
}

.about-me-photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 60px auto 20px auto;
    overflow: hidden;
}

.about-me-img {
    border-radius: 50%;
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

.about-me-description {
    padding-top: 20px;

}

.about-me-description_1 {
    margin-bottom: 40px;
}

.about-me-description_2 {
    margin-bottom: 36px;
}

.about-me-description input {
    display: block;
    background: url(../img/иконка_кнопки.png) no-repeat left 8px center;
    height: 34px;
    font-size: 14px;
    color: #6d7682;
    border: 2px solid #6d7682;
    padding: 0 18px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
    margin: 0 auto;
}

.about-me-description input {
    transition: all 0.4s;
    transform: scale(1.0);
}

.about-me-description input:hover {
    color: white;
    background-color: #344051;
}

.about-me-description input:active {
    transform: scale(1.1);
}

.skills {
    display: flex;
    float: left;
    width: 100%;
    background: url(../img/картинка_фона.png) fixed;
}

.skills-title {
    padding-top: 106px;
    padding-bottom: 30px;
}

.skills-description {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-description h4 {
    font-size: 18px;
    font-weight: 600;
    color: #cf7600;
    margin: 34px 0 14px 0;
}

.skills-description p {
    color: #263244;
    font-size: 16px;
}

.skills-description_ {
    width: 210px;
    height: 154px;
    display: inline-block;
    text-align: center;
    align-items: center;
    margin-bottom: 80px;
}

.skills-description_:not(:last-child) {
    margin-right: 82px;
}

@media (max-width: 1200px) {
    .skills-description_:not(:last-child) {
        margin-right: 30px;
    }
}

@media (max-width: 992px) {
    .skills-description_:not(:last-child) {
        margin-right: 0;
    }
}

.case {
    float: left;
    width: 100%;
    background: #fcfdfd;
}

.case-title {
    margin-top: 102px;
    margin-bottom: 30px;
}

.case-description {
    margin-top: 36px;
    text-align: center;
    color: #263244;
    font-size: 16px;
    margin-bottom: 40px;
}

.case-photo {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto 40px;
}

/*.case-project {*/
/*    margin: 0 auto;*/
/*}*/

.case-project h3 {
    font-size: 24px;
    color: #384354;
    margin-bottom: 14px;
}

.case-project p {
    font-size: 16px;
    color: #384354;
    margin-bottom: 14px;
}

.case-information {
    width: 100%;
    display: flex;
    justify-content: center;
}

.case-cl_and_web {
    display: inline-block;
    margin-right: 20%;
}

.case-name_project {
    display: inline-block;
}

.case-button {
    margin-top: 3%;
    display: flex;
    justify-content: start;
    line-height: 44px;
    text-align: center;
}

@media (max-width: 500px) {
    .case-information {
        display: block;
        width: 100%;
    }

    .case-cl_and_web {
        display: block;
        width: 100%;
    }

    .case-name_project {
        display: block;
        width: 100%;
    }
}

.btn10 {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #45c5ba;
    border-radius: 0.6em;
    color: #45c5ba;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 16px;
    line-height: 1;
    padding: 0.8em 2.2em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.btn10:hover, .btn10:focus {
    color: #45c5ba;
    outline: 0;
}

.visit {
    border-color: #45c5ba;
    color: #45c5ba;
    background-image: -webkit-linear-gradient(45deg, #45c5ba 50%, transparent 50%);
    background-image: linear-gradient(45deg, #45c5ba 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.visit:hover {
    background-position: 0;
}


.button-name {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
}

.case-button a:visited {
    color: #45c5ba;
}

.case-button a:hover {
    color: white;
}

.cost {
    float: left;
    width: 100%;
    height: 750px;
    margin-top: 102px;
}

.cost-container {
    display: block;
    width: 890px;
    margin: 0 auto;
    height: 750px;
}

.cost-title {
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    color: #1c2534;
    display: block;
    width: 100%;
    margin-bottom: 52px;
}

.cost-price {
    width: 100%;
    height: 434px;
    border-bottom: 3px solid #e0e0e0;
}

.cost-type {
    width: 100%;
    height: 106px;
    display: block;
}

.cost-type:not(:last-child) {
    margin-bottom: 44px;
}

.cost-title_3 {
    font-size: 26px;
    font-weight: bold;
    color: #1c2534;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.cost-option {
    width: 100%;
    height: 56px;
    border: 0;
    background-color: #eee;
    padding: 10px 45px 10px 21px;
    cursor: pointer;
    font-size: 16px;
    color: #737373;
    appearance: none;
}

.select-wrapper {
    position: relative;
}

.cost-option option {
    width: 300px;
}

.select-wrapper::before {
    content: "";
    position: absolute;
    top: 57%;
    right: 25px;
    width: 20px;
    height: 15px;
    transform: translateY(-50%);
    align-items: center;
    background: url(../img/стрелка.png) no-repeat;
    pointer-events: none;
}

.cost-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    font-weight: 600;
}

.cost-footer_text {
    font-size: 20px;
    color: #1c2534;
}

.cost-footer_digits {
    font-size: 26px;
    color: #1c2534;
}

.cost-footer_text p:not(:last-child) {
    padding-bottom: 26px;
}

.cost-footer_digits p:not(:last-child) {
    padding-bottom: 14px;
}

.statistics {
    float: left;
    width: 100%;
    /*height: 499px;*/
    background: url(../img/фон_обомне.png) fixed;
}

.statistics-title {
    margin: 104px 0 30px 0;
}

.statistics-description {
    margin-top: 86px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.statistics-description h3 {
    margin: 30px 0;
    font-size: 34px;
    font-weight: 700;
    color: #323d4f;
}

.statistics-description p {
    font-size: 16px;
    color: #323d4f;
    font-weight: 600;
}

.statistics-description_ {
    align-items: center;
    display: inline-block;
    width: 210px;
    height: 160px;
    text-align: center;
    margin-bottom: 80px;
}

.statistics-description_:not(:last-child) {
    margin-right: 82px;
}

@media (max-width: 1200px) {
    .statistics-description_:not(:last-child) {
        margin-right: 30px;
    }
}

@media (max-width: 992px) {
    .statistics-description_:not(:last-child) {
        margin-right: 0;
    }
}

.comment {
    float: left;
    width: 100%;
}

.comment-title {
    margin: 104px 0 30px 0;
}

.comment-img {
    margin: 58px 0 30px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.comment-text {
    margin-bottom: 32px;
}

.comment-description {
    width: 100%;
    text-align: center;
    color: #1c2534;
    margin: 0 auto 50px auto;
}

.comment-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 82px;
}

.comment-scroll img:not(:last-child) {
    margin-right: 10px;
}

.contacts {
    color: #fff;
    float: left;
    width: 100%;
    background: url(../img/Фон_футер.png) no-repeat;
    background-size: cover;
}

.contacts-container {
    width: 734px;
    margin: 0 auto;
}

@media (max-width: 734px) {
    .contacts-container {
        width: auto;
    }
}

.contacts-title {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin: 104px 0 30px 0;
}

.contacts-description {
    margin: 30px 0 42px 0;
    display: flex;
    justify-content: center;
    font-size: 16px;
    text-align: center;
}

.contacts-contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contacts-contacts_ {
    align-items: center;
    display: inline-block;
    width: 150px;
    height: 90px;
    text-align: center;
}

.contacts-contacts_:not(:last-child) {
    margin-right: 40px;
}

@media (max-width: 768px) {
    .contacts-contacts_:not(:last-child) {
        margin-right: 10px;
    }
}

@media (max-width: 490px) {
    .contacts-contacts_:not(:last-child) {
        margin-right: 0;
    }
}

.contacts-icon {
    margin-bottom: 10px;
}

.contacts-form {
    width: 100%;
    margin: 0 auto;
}

.contacts-form_title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 44px;
}

.contacts-forms {
    width: 100%;
    /*height: 34px;*/
    margin-bottom: 14px;
    display: block;
}

.contacts-forms label{
    width: 100%;
}

.form-name {
    display: block;
    width: 100%;
    height: 34px;
    background: #d2d6dc;
    align-items: center;
    font-size: 15px;
    padding-left: 10px;
}

.contacts-textarea {
    width: 100%;
    color: #5d5d5e;
    margin-bottom: 30px;
}

.contacts-textarea label{
    display: block;
    width: 100%;
}

.textarea {
    width: 100%;
    height: 94px;
    background: #d2d6dc;
    font-size: 15px;
    color: #5d5d5e;
    padding: 10px 0 0 10px;
}

.btn1 {
    width: 150px;
    height: 50px;
    cursor: pointer;
    background: transparent;
    border: 1px solid white;
    outline: none;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 0.5s ease-in-out;
}

.btn1:hover {
    transition: 0.5s ease-in-out;
    background: #4F95DA;
}

.btn1:hover svg {
    stroke-dashoffset: -480;
}

.btn1 span {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.contacts-button {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 95px;
    background-color: #354051;
    align-items: center;
    color: #fff;
}